:root {
  --width-card: 200px;
}

.Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  max-width: var(--width-card);
  padding: 10px;
  box-shadow: 0 0 2px 2px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  border-radius: 3px;
}


.Cart__header,
.Card__autor {
  max-width: var(--width-card);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px auto;
}

.Card__img {
  width: var(--width-card);
  max-height: 300px;
  margin: auto;
  border-radius: 3px;
}

@media(max-width: 480px) {
  :root {
    --width-card: 140px;
  }
}
@media(max-width: 360px) {
  .Cart {
    margin-left: 0;
    margin-right: 0;
  }
}
@media(max-width: 330px){
  #root{
    justify-content: space-around;
  }
}