.Cart-info {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  position: fixed;
  z-index: 1;
  width: 650px;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 2px rgba(34, 60, 80, 0.2);
}

.Cart-info p:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Cart-info__close {
  position: absolute;
  left: calc(100% - 35px);
  top: -5px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  color: black;
  font-size: 25px;
}

.Cart-info__close:hover {
  color: red;
  cursor: pointer;
}

.Cart-info__list {
  display: grid;
  grid-template-columns: 140px auto;
  align-items: center;
}

.Cart-info__list p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Cart-info__img {
  max-width: 250px;
  max-height: 400px;
}

.Cart-info__heading {
  grid-column: span 2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
  padding-right: 10px;
  padding-top: 10px;
  align-self: start;
}